.App {
  text-align: center;
}

.App-Header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.angaben-container {
  background-color: rgba(122, 122, 122, 0.512);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid grey;
  margin: 35px;
  text-align: left;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 20px;
  padding: 25px;
}

.angaben{
  grid-row: 1/2;
  display: grid;
}

.ergebnis {
  background-color: rgba(122, 122, 122, 0.512);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid grey;
  padding-bottom: 35px;
  margin: 100px;
  padding: 10%;
  color: turquoise;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.angaben > .inputs {
  grid-column: 2/3;
  border-radius: 5px;
  max-width: 150px;
  max-height: 25px;
}

.angaben > .labels {
  grid-column: 1/2;
}

.buttons {
  justify-self:  center;
  width: 100px;
  height: 25px;
}